@model MerchantApplyViewModel

@{
    ViewData["Title"] = "Apply as a Merchant";

    Layout = "_EmptyLayout";
}

<div class="container-fluid pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card border-0">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Apply to Become a Merchant</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Apply" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label asp-for="Merchant.Name"></label>
                            <input asp-for="Merchant.Name" class="form-control"/>
                            <span asp-validation-for="Merchant.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Merchant.Email"></label>
                            <input asp-for="Merchant.Email" class="form-control"/>
                            <span asp-validation-for="Merchant.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BusinessLicenceFile"></label>
                            <input asp-for="BusinessLicenceFile" type="file" class="form-control-file"/>
                            <span asp-validation-for="BusinessLicenceFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Merchant.RegistrationNotes"></label>
                            <textarea asp-for="Merchant.RegistrationNotes" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Merchant.RegistrationNotes" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Application</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
