<!-- Subscribe Partial -->
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
            </div>
            <form asp-action="Subscribe" asp-controller="Home" method="post">
                <div class="input-group">
                    <input type="text" name="Name" class="form-control border-white p-4" placeholder="Your Name" required />
                </div>
                <div class="input-group mt-3">
                    <input type="email" name="Email" class="form-control border-white p-4" placeholder="Your Email" required />
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>